.dialog {
  width: 320px;
  height: 340px;
  position: absolute;
  right: 50%;
  background-color: rgb(152, 231, 198);
  transform: translateX(128px);
  border: 1px solid grey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.close-icon-container {
  flex: 1;
}

.login-img {
  flex: 1;
  padding-top: 64px;
}


input {
  height: 32px;
  width: 272px;
  border: none;
  padding-left: 8px;
}

.email-input-container input {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.password-input-container input {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 8px;
}

button {
  background-color: seagreen;
  font-size: 14px;
  color: white;
  height: 32px;
  width: 272px;
  border: none;
  border-radius: 8px;
}
