.container {
  width: 100%;
  transform: translateX(-5%);
  display: flex;
  flex-direction: row;
}
.container div {
  border-radius: 50%;
  background-color: blue;
  width: 48px;
  height: 48px;
  justify-content: space-around;
};
@media (max-width: 600px) {
  .container {
      flex-direction: column;
      right: 15%;
  };
}