<div fxLayout="row" fxLayoutAlign="space-between center" class="container">
  <div fxFlex="20%" class="blog-title-container">
    <p>Jferroal's Blog</p>
  </div>
  <nav fxFlex="70%" fxLayout="row" class="navbar">
    <div fxLayout="row" fxLayout="start center" class="nav-item">
      <md-icon svgIcon="home"></md-icon>
      <a routerLink="/" fxFlex>主页</a>
    </div>
    <div fxLayout="row" fxLayout="start center" class="nav-item">
      <md-icon svgIcon="archive"></md-icon>
      <a routerLink="/archive" fxFlex>归档</a>
    </div>
  </nav>
  <div class="profile-container">
    <a routerLink="/login" *ngIf="isVisitor">登陆</a>
    <div fxLayout="row" fxLayoutAlign="start center" class="profile" *ngIf="!isVisitor">
      <button [mdMenuTriggerFor]="profileMenu" md-icon-button class="profile-menu-toggle">
        <md-icon svgIcon="more_vert"></md-icon>
      </button>
      <md-menu #profileMenu="mdMenu">
        <div [routerLink]="['dashboard']" class="menu-button-container" md-menu-item>
          <button md-button>
            <span>控制台</span>
          </button>
        </div>
        <div (click)="logout()" md-menu-item>
          <button md-button>
            <span>注销</span>
          </button>
        </div>
      </md-menu>
      <img width="48" src="https://placehold.it/48x48">
    </div>
  </div>
</div>
