@import '../../assets/styles/container';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 2;
  padding-bottom: 4px;
}
.container {
  @extend .toolbar-container;
}
