@import '../../assets/styles/color';

:host {
  display: flex;
  flex: 1;
  padding-top: 64px;
}
.container {
  width: 740px;
  height: calc(100vh - 64px);
  margin-left: auto;
  margin-right: auto;
  .empty-alert-container {
    padding-top: 64px;
    p {
      font-size: 48px;
      font-weight: 600;
      color: $light-text-secondary;
    }
  }
}
.archive-container {
  .mat-tab-body-wrapper {
    padding-top: 8px;
  }
}
