<div class="container">
  <section class="archive-container">
    <article *ngIf="!archives || !archives.length" class="empty-alert-container">
      <p>主人很懒，这里空空如也 ╮(╯_╰)╭ ~ </p>
    </article>
    <md-tab-group *ngIf="archives.length" class="tab-group">
      <md-tab label="系列">
        <archive-list [archives]="archives" [archiveCategory]="100"></archive-list>
      </md-tab>
      <md-tab label="时间">
        <archive-list [archives]="archives" [archiveCategory]="200"></archive-list>
      </md-tab>
    </md-tab-group>
  </section>
</div>
