:host {
  display: flex;
  flex: 1;
}
.container {
  overflow-y: scroll;
  display: flex;
  flex: 1;
}

.container::-webkit-scrollbar {
  width: 0;
}

.list-container {    
  padding-top: 24px;
  padding-bottom: 48px;
}

.list {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list time {
  padding-right: 36px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.64);
  min-width: 178px;
  border-right: 4px solid rgba(128, 53, 23, 0.65);
}

.info {
  margin-left: 48px;
  padding-bottom: 24px;
  margin-bottom: 12px;
}

.info .title {
  margin: 0;
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: 500;
}

.info .description {
  font-size: 12px;
}

.info .description > div {
  margin-bottom: 4px;
}

.info .description > a {
  font-weight: bold;
  margin-bottom: 4px;
}

.info > .title-container {
  display: flex;
  flex-direction: row;
}

.title {
  margin-right: 4px;
}

.tag {
  background-color: grey;
  border-radius: 4px;
  padding: 0 4px;
  margin: 0 4px;
}
