<div class="container" jfbScrollListeningLoader (scrolled)="scrollLoad($event)">
  <section class="list-container">
    <article *ngFor="let article of articles" class="list">
      <time>{{ article.updateAt | date }}</time><span class="line"></span>
      <div class="info">
        <div class="title-container">
          <p class="title">{{ article.title }}</p>
          <div class="tag" *ngFor="let tag of article.tags">{{ tag }}</div>
          <!--If login, enable edit button-->
          <a *ngIf="true" [routerLink]="['/article', article._id, 'edit']">edit</a>
        </div>
        <div class="description">
          <div>{{ article.description }}</div>
          <a [routerLink]="['/article', article._id]"> >> 点击阅读全文</a>
        </div>
      </div>
    </article>
  </section>
</div>
