<div class="container" fxFlex="100%" fxLayout="row" jfbScrollListeningLoader (scrolled)="scrollLoad($event)">
  <section fxFlex="20%" class="list-container">
    <md-list>
      <div md-list-item fxFlex fxLayout="column" fxLayoutAlign="space-artound start" *ngFor="let item of articles; let i = index;"
        (click)="chooseArticleByClick(i)">
        <h3 fxFlex md-line>{{ item.title }}</h3>
        <p fxFlex md-line>{{ item.shortDesc }} ~ </p>
      </div>
    </md-list>
  </section>
  <section fxFlex fxLayout="column" fxLayoutAlign="space-between center" class="detail-container">
    <article>
      <div class="cover-container">
        <img [src]="currentArticle.coverUrl">
      </div>
      <div class="desc-container">
        <h3>{{currentArticle.title}}</h3>
        <p>{{currentArticle.desc}}</p>
      </div>
    </article>
    <article fxLayout="row" class="comment-like-container">
      <div fxFlex="8%" fxLayoutAlign="start center">
        <md-icon svgIcon="comment"></md-icon><span>{{this.currentArticle.commentCount}}</span>
      </div>
      <div fxFlex="8%" fxLayoutAlign="start center">
        <md-icon svgIcon="like"></md-icon><span>{{this.currentArticle.likeCount}}</span>
      </div>
    </article>
  </section>
</div>
