@import '../../assets/styles/color';
:host {
  display: flex;
  flex: 1;
}

.container {
  padding-top: 64px;
  .article-list-container {
    height: 100%;
    background-color: $primary-moderate;
  }
}
