@import '../../assets/styles/border';
@import '../../assets/styles/color';
@import '../../assets/styles/container';
@import '../../assets/styles/font';
@import '../../assets/styles/md';

:host {
  display: flex;
  flex: 1;
  padding-top: 64px;
}

.container {
  .list-container {
    @extend .self-scroll-list;
    padding-right: 0;
    background-color: $primary-shallow;
    md-list {
      padding-top: 0;
    }
  }
  .detail-container {
    padding: 32px 20%;
  }
}
div[md-list-item] {
  position: relative;
  height: 72px;
  padding: 12px 24px;
  background-color: $primary-shallow;
  cursor: pointer;
  h3 {
    @extend .list-title-text;
    margin-bottom: 3px;
  }
  p {
    @extend .list-content-text;
    margin-top: 3px;
  }
  .focused, &:hover {
    background-color: $primary-shallow-hover;
    box-shadow:  $layer-one;
    z-index: 1;
  }
}

.detail-container {
  .cover-container {
    margin-bottom: 8px;
    width: 100%;
    height: 320px;
    img {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .desc-container {
    margin-bottom: 24px;
    width: 100%;
    h3 {
      @extend .article-title-text;
      margin: 0;
      line-height: 56px;
    }
    p {
      margin: 0;
      @extend .article-content-text;
    }
  }
  .article-content-link {
    .mat-icon {
      margin-left: 8px;
    }
    a {
      cursor: pointer;
      font-size: 14px;
      color: $link-text;
      line-height: 22px;
    }
  }
  .more-info-container {
    height: 32px;
    width: 100%;
    color: $light-text-hint;
    .comments-likes {
      width: 100%;
      > div {
        padding: 8px;
      }
    }
    .mat-icon {
      margin-right: 4px;
    }
  }
}
