<div fxLayout="row" fxFlex class="container">

  <article fxFlex="23%" fxLayout="row" class="directory-container">
    <section class="category">
    </section>
    <section class="list">
      <md-list>
        <div class="folder-container" md-list-item *ngFor="let folder of directoryItems; let folderIndex = index;">
          <div fxLayout="row">
            <md-icon *ngIf="!folder.opened" svgIcon="folder"></md-icon>
            <md-icon *ngIf="folder.opened" svgIcon="folder_open"></md-icon>
            <h3 md-line (click)="toggleFolder(folder)">{{folder.title}}</h3>
          </div>
          <md-list *ngIf="folder.opened">
            <div md-list-item (click)="selectArticle(article)" *ngFor="let article of folder.articles; let articleIndex = index;">
              <p [ngClass]="{selected: article.selected}" md-line>{{article.title}}</p>
            </div>
          </md-list>
        </div>
      </md-list>

    </section>
  </article>
  <article fxFlex fxLayout="row" class="editor-container">
    <section fxFlex="75" class="editor">
      <form fxFlex fxLayout="column" class="editor-form">
        <md-input-container fxFlex="7%" class="title">
          <input mdInput placeholder="文章标题" value="Google">
        </md-input-container>
        <div class="content" fxFlex>
          <textarea fxFlex placeholder="文章正文"></textarea>
        </div>
      </form>
    </section>
    <section fxFlex class="uploaded-images">
      <md-card class="example-card" *ngFor="let image of uploadedImages">
        <md-card-header>
          <md-card-title>{{image.ariaLabel}}</md-card-title>
        </md-card-header>
        <img md-card-image width="120" [src]="image.src">
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </section>
  </article>
</div>
