<div fxLayout="row" fxFlex class="container">

  <article fxFlex="23%" fxLayout="row" class="directory-container">
    <section class="category">
    </section>
    <section class="list">
      <md-list>
        <div class="folder-container" md-list-item *ngFor="let folder of directoryItems; let folderIndex = index;">
          <div fxLayout="row">
            <md-icon *ngIf="!folder.opened" svgIcon="folder"></md-icon>
            <md-icon *ngIf="folder.opened" svgIcon="folder_open"></md-icon>
            <h3 md-line (click)="toggleFolder(folder)">{{folder.title}}</h3>
          </div>
          <md-list *ngIf="folder.opened">
            <div md-list-item (click)="selectArticle(article)" *ngFor="let article of folder.articles; let articleIndex = index;">
              <p [ngClass]="{selected: article.selected}" md-line>{{article.title}}</p>
            </div>
          </md-list>
        </div>
      </md-list>

    </section>
  </article>
  <article fxFlex fxLayout="row" class="editor-container">
    <section fxFlex="75" class="editor">
      <form fxFlex fxLayout="column" class="editor-form">
        <md-input-container fxFlex="10%" class="title">
          <input mdInput placeholder="文章标题" value="Google">
        </md-input-container>
        <md-input-container fxFlex class="content">
          <textarea mdInput (minRows)="10" placeholder="文章正文" value="Google"></textarea>
        </md-input-container>
      </form>
    </section>
    <section fxFlex class="images"></section>
  </article>
</div>
