@import '../../assets/styles/color';
@import '../../assets/styles/container';
@import '../../assets/styles/font';

:host {
  display: flex;
  flex: 1;
  padding-top: 64px;
}

.container {
  padding-top: 4px;
  > article {
    height: 100%;
  }
  .directory-container {
    @extend .self-scroll-list;
  }
}
.directory-container {
  .category {
    min-width: 64px;
    background-color: $primary-moderate;
  }
  .list {
    width: calc(100% - 64px);
    padding-left: 24px;
    background-color: $primary-shallow;
    .folder-container {
      padding-bottom: 12px;
      h3 {
        @extend .list-title-text;
        margin-left: 4px;
        padding-bottom: 3px;
      }
      p {
        @extend .list-content-text;
        font-size: 14px;
        padding-left: 16px;
        margin-bottom: 3px;
        &:hover {
          @extend .list-content-text-hover;
          font-size: 14px;
          padding-left: 16px;
          margin-bottom: 3px;
          background-color: $primary-shallow-hover;
        } 
      }
      p.selected {
        @extend .list-content-text-hover;
        font-size: 14px;
        padding-left: 16px;
        margin-bottom: 3px;
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }
}
.editor-container {
  .editor-form {
    height: 100%;
    padding: 32px 48px;
    border-right: 2px solid $light-divider;
    .title {

    }
    .content {

    }
  }
  .images {
    background-color: yellow;
  }
}

