:host {
  display: flex;
  flex: 1;
  padding-top: 64px;
}

.container {
  > article {
    height: 100%;
  }
  .folder {
    background-color: red;
  }
  .editor {
    .content {
      border-right: 2px solid darkblue;
    }
    .images {
      background-color: yellow;
    }
  }
}

