@import '../../assets/styles/color';
@import '../../assets/styles/font';
@import '../../assets/styles/markdown';
@import '../../assets/styles/input';

:host {
  display: flex;
  flex: 1;
  padding-top: 64px;
}

:host /deep/ .content {
  @extend .markdown-style, .github-markdown-style;
}

.container {
  width: 740px;
  > article {
    height: 100%;
    padding-bottom: 32px;
  }
  .empty-alert-container {
    padding-top: 256px;
    a {
      font-size: 48px;
      font-weight: 600;
      color: $light-text-secondary;
      text-decoration: underline;
    }
  }
  .content {
    padding: 16px 0;
  }
  .actions-container {
    padding: 24px 0;
    border-top: 1px solid $light-divider;
    border-bottom: 1px solid $light-divider;
  }
  .comments-container {
    padding-top: 16px;
    > h3 {
      @extend .list-title-text;
      font-size: 24px;
    }
    .comment-editor {
      padding: 16px;
    }
    .comment-editor .comment-input {
      @extend .textarea-style;
      height: 84px;
      border: 1px solid $light-divider;
      margin-bottom: 16px;
    }
    .comment-editor .mat-button {
      color: $light-text-primary;
    }
    .comment-container {
      padding: 16px 0;
      border-bottom: 1px dotted $light-divider;
      &:hover {
        background-color: $light-divider;
      }
    }
    .mat-list-avatar {
      border-radius: $round-border-radius;
      padding: 0 8px;
    }
    .mat-line {
      white-space: normal;
      overflow-x: auto;
      padding-left: 8px;
      h3 {
        @extend .list-title-text;
        color: $light-text-primary;
        margin-bottom: 8px;
      }
      p {
        @extend .list-content-text;
        font-size: 12px;
        color: $light-text-primary;
        line-height: 20px;
      }
    }
  }
}
