:host {
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  flex: 1;
}

.article-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.article-content .content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

