:host {
  display: flex;
  flex: 1;
  padding-bottom: 24px;
}

.container {
  display: flex;
  flex: 1;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  width: 0;
  padding-bottom: 48px;
}

.article-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}


