<form (ngSubmit)="login()" #loginForm="ngForm" fxLayout="column" fxLayoutAlign="start end" class="login-form">
  <h3 class="title">登录</h3>
  <md-input-container class="email-input">
    <input mdInput [(ngModel)]="email" name="email" type="email" placeholder="邮箱">
  </md-input-container>
  <md-input-container class="password-input">
    <input mdInput [(ngModel)]="password" name="password" type="password" placeholder="密码">
  </md-input-container>
  <button type="submit" md-raised-button class="login-btn">
    登陆
  </button>
</form>
