<div class="app-container">
    <jfb-article-list class="article-list"></jfb-article-list>
    <div class="divider"></div>
    <jfb-article-content class="article-content"></jfb-article-content>
    <section class="reading-progress-bar">
        <article class="alreday-progress"></article>
        <article id="pointer1" class="pointer"></article>
        <article class="current-pointer">hello world</article>
        <article id="pointer3" class="pointer"></article>
    </section>
    <jfb-floating-nav-btn class="floating-nav-btn"></jfb-floating-nav-btn>
</div>
