$primary-shallow: #4DB6AC;
$primary-moderate: #64FFDA;
$primary-strong: #00BFA5;

$accent-shallow: #FFB74D;
$accent-moderate: #FFAB40;
$accent-strong: #FF6D00;

$warn-shallow: #EF5350;
$warn-moderate: #E53935;
$warn-strong: #FF1744;

$light-text-primary: rgba(0, 0, 0, 0.87);
$light-text-secondary: rgba(0, 0, 0, 0.54);
$light-text-hint: rgba(0, 0, 0, 0.38);
$light-text-disabled: rgba(0, 0, 0, 0.38);
$light-divider: rgba(0, 0, 0, 0.12);

$dark-text-primary: rgba(255, 255, 255, 0.87);
$dark-text-secondary: rgba(255, 255, 255, 0.70);
$dark-text-hint: rgba(255, 255, 255, 0.50);
$dark-text-disabled: rgba(255, 255, 255, 0.50);
$dark-divider: rgba(255, 255, 255, 0.12);
