$primary-shallow: rgb(178, 223, 219);
$primary-moderate: rgb(0, 191, 165);
$primary-strong: rgb(0, 77, 64);

$primary-shallow-hover: rgba(178, 223, 219, 0.88);
$primary-moderate-hover: rgba(0, 191, 165, 0.12);
$primary-strong-hover: rgba(0, 77, 64, 0.12);

$accent-shallow: #FFB74D;
$accent-moderate: #FFAB40;
$accent-strong: #FF6D00;

$warn-shallow: #EF5350;
$warn-moderate: #E53935;
$warn-strong: #FF1744;

$light-text-primary: rgba(0, 0, 0, 0.87);
$light-text-secondary: rgba(0, 0, 0, 0.54);
$light-text-hint: rgba(0, 0, 0, 0.38);
$light-text-disabled: rgba(0, 0, 0, 0.38);
$light-divider: rgba(0, 0, 0, 0.12);

$dark-text-primary: rgba(255, 255, 255, 0.87);
$dark-text-secondary: rgba(255, 255, 255, 0.70);
$dark-text-hint: rgba(255, 255, 255, 0.50);
$dark-text-disabled: rgba(255, 255, 255, 0.50);
$dark-divider: rgba(255, 255, 255, 0.12);

$link-text: rgba(15, 15, 225, 0.85);
$block-bg: rgba(0, 0, 0, 0.08);
