@import './color';
@import './font';

.toolbar-container {
  @extend .toolbar-title-text;
  width: 100%;
  height: 64px;
  padding: 0 16px;
  color: $light-text-primary;
  background-color: $accent-shallow;
  box-sizing: border-box;
}

.self-scroll-list {
  height: calc(100vh - 64px);
  padding-right: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar{
    width: 0;
  }
}
