@import './color';
.title-text {
  font-size: 20px;
  font-weight: 500;
}

.subtitle-text {
  font-size: 16px;
  font-weight: 400
}

.body-text {
  font-size: 13px;
  font-weight: 400;
}

.button-text {
  font-size: 14px;
  font-weight: 400;
}
