/* You can add global styles to this file, and also import other style files */
.out-container {
  position: relative;
  background-color: #D5D5D5;
  display: flex;
  padding: 0 256px;
}
.out-container jfb-root {
  width: 100%;
  background: white;
  padding: 48px 96px;
  min-height: 840px;
  box-sizing: border-box;
}

.out-container .floating-nav-btn {
  position: fixed;
  bottom: 80px;
  right: 192px;
}