/* You can add global styles to this file, and also import other style files */

@import './assets/styles/font';

html {
  height: 100%;
  font-family: $font-family;
}
body {
  display: flex;
  position: relative;
  min-height: 100%;
  margin: 0;
}
