/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif !important;
}
body {
  display: flex;
  position: relative;
  min-height: 100%;
  margin: 0;
}
