.dialog {
  width: 320px;
  height: 360px;
  position: absolute;
  right: 50vw;
  bottom: 50vh;
  background-color: rgb(152, 231, 198);
  transform: translateX(128px);
  border: 1px solid grey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog form {
  display: flex;
  flex-direction: column;
}

.close-icon-container {
  display: flex;
  width: 272px;
  justify-content: center;
  color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  background-color: rgba(255, 65, 0, 0.86);
  cursor: pointer;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.close-icon-container:hover {
  color: rgba(255, 65, 0, 0.86);
  background-color: rgba(255, 255, 255, 0.85);
}

.close-icon-container span {
  line-height: 32px;
}

.close-icon object {
  fill: rgba(255, 255, 255, 0.85);
}

.login-img-container {
  margin-top: 64px;
}

input {
  height: 32px;
  width: 272px;
  border: none;
  padding-left: 8px;
}

.email-input-container input {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.password-input-container input {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 8px;
}

button {
  background-color: rgba(0, 105, 255, 1);
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 32px;
  width: 272px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

button:hover {
  color: rgba(0, 105, 255, 1);
  background-color: rgba(255, 255, 255, 0.85);
}
